<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geeky Blogs | <%= title %></title>
  </head>
  <body>
    <!-- Dynamic Content -->
    <!-- <% const name = 'Rajib' %> -->

    <nav>
      <div class="site-title">
        <!-- Outputting the dynamic value -->
        <!-- <p><%= name %></p> -->

        <a href="/"><h1>Geeky Blogs</h1></a>
        <p>THe Eccentric Geek Site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="blogs content">
      <h2>All Blogs</h2>

      <!-- Accessing an array of blogs in index.ejs from app.js '/' -->

      <!-- If the length of the blogs array isgrater than zero then it will output this otherwise it will not output that. -->

      <% if(blogs.length > 0){ %>

      <% blogs.forEach((blog) => { %>

        <h3 class="title"><%= blog.title %></h3>
        <p class="snippet"><%= blog.snippet %></p>

        <% }); %>

      <% } else { %>
        <h4>No blogs found</h4>
        <% } %>
        
    </div>
  </body>
</html>
